.modal_block{
    position: absolute;
     width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100%;
}
.active_modal{
     left: 0;
}
.resume_modal{
    width: 50%;
    padding: 1rem 0.5rem;
    background: linear-gradient(white,transparent);
    position: relative;
    display: flex;
    justify-content: space-around;
}
.resume_modal a{
  font-size: 19px;
}
.close{
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.active_modal .resume_modal{
    animation: bounce-in-fwd 1.1s both;
}
@keyframes bounce-in-fwd {
    0% {
        transform: scale(0);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: scale(1);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
    }
    72% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    81% {
        transform: scale(0.84);
        animation-timing-function: ease-in;
    }
    89% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    95% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}
